body {
  padding-top: 60px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}


/* Custom Styles */

.comparison h2{
   font-size: 20px;
   margin-top: 0px;
}

img.smartlogo {
	float: right;
	margin-top: -0.4em;
}

.controls {
   margin-bottom: 1em;
}
#pasteHere {
   width: 100%
}

.scoreOneline {
   width: 90%;
}

.scorePoints {
   width: 10%;
   font-weight: bold;
}

.rubricDetail{}
.comparison {margin-bottom: 0.5em;}
.grade {margin-right: 10px;}

.pointer{
   cursor: pointer;
   float: right;
   font-size: 14px;
}

.tweetButton{
  float: left;
  margin-top: -.25em;
}
.pointer:last-child{
   margin-left: 1em;
}

.spaceRight{
   margin-right: 1em;
}

.fadedIn {
   opacity: 1;
}

.fadedOut {
   opacity: 0;
}
.detailRow{
   padding-bottom: 1.5em;
}


.histogram {
   float: right;
   text-align: center;
   font-style: italic;
}


.chart rect {
   fill: lightslategrey;
   shape-rendering: crispEdges;
   stroke: white;
}
.chart line {
   stroke: steelblue;
}

.chart text {
   color: blueblack;
   font-size: 8pt;
}

#overall{
  vertical-align: middle;
  margin-right: .5em;
  font-family: 'Domine', serif;
  font-weight: 400;
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  float: left;
}

#overall strong{
  font-weight: 700;
}

#shareDocument {
  margin-top: -3em;
  margin-bottom: .7em;
}

#collapseButtons {
  margin-bottom: 2em;
}

#collapseButtons  a {
  float: left;
  margin-right: .25em;
}

.hero-unit.beautiful, .well.helpSmart {
  background: white;
  margin-top: 5em;
}

.bestPractice {
  margin-bottom: 2em;
}

#launcher {
width: 100%;
border: 1px solid black;
}

ul.thumbnails li.span4:nth-child(3n + 4) {
  margin-left : 0px;
}

ul.thumbnails li.span3:nth-child(4n + 5) {
  margin-left : 0px;
}

ul.thumbnails li.span12 + li {
  margin-left : 0px;
}



/* small devices */
@media screen and (max-width: 979px) {
  body {
    padding-top: 0px; padding-left: 15px; padding-right: 15px;
    font-size: 1.15em;
  }
}

.step-bubble{
    border-radius: 50%;
    width: 70px;
    height: 70px; line-height: 50px; text-align: center;
    color: white; background: #04C;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
    position: relative;
}

.step-bubble span {
    font-weight: bold;
    font-size: 70px;
    position: relative;
    top: 12px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px;
    vertical-align: middle;
}

div.result {
    position: relative;
}

.thumb-holder {
    height: 160px;
    width: 100%;
    text-align: center;
}

.centered {
    text-align: center;
}

.thumbnail img {
    max-height: 100%;
}

.thumbnail input {
    max-width: 100%;
    margin-right: 20px;
    padding-right: 0;
}

#patient-create {
    border-collapse: separate;
    border-spacing: 10px;
}

#patient-results {
    margin-top: 20px;
    min-height: 220px;
    color: black;
}

#patient-results p {
    font-size: 1.6em; color: #777;
}

#patient-search {
    padding-right: 0px;
}

#settings, #signin, #signout {
    float: right;
    text-decoration:underline;
}

.settings-dialog {
    padding: 5em;
    border: 1px dotted grey;
}

.settings-dialog textarea {
    width: 100%;
    height: 15em;
    box-sizing: border-box;
}

.settings-dialog input {
    box-sizing: border-box;
    height: 30px;
    width: 100%;
}

.shortcut {
    text-decoration:underline;
    float: none !important;
    border: 0px !important;
    padding: 0px !important;
}

td.gender {
    font-size: 1.5em;
}

td.name {
}

tr.patient-row {
    cursor: pointer;
}

.step-bubble{
    border-radius: 50%;
    width: 70px;
    height: 70px; line-height: 50px; text-align: center;
    color: white; background: #04C;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
    position: relative;
}

.step-bubble span {
    font-weight: bold;
    font-size: 70px;
    position: relative;
    top: 12px;
}

.step-bubble-spaceholder{
    height: 50px;
    display: inline-block;
    margin-right: 15px;
}

.content-column {
    padding: 5px;
}
