<div ng-controller="PatientSearchWrapper">
  <h3 ng-show="showing.signin" class="ng-hide centered">Please sign in above to get started</h3>
  <h3 ng-show="showing.loading && !showing.content" class="ng-hide">Loading...</h3>

    <div class="row">
        <div ng-show="showing.content"  class="col-md-6 content-column">
            <h1 ng-show="showing.content" class="ng-hide"><div class="step-bubble"><span>1</span></div>Choose a patient</h1>

            <div ng-include="'fhirStarter/templates/patient-search.html'"></div>
        </div>
        <div ng-controller="UserContextController" ng-show="showing.content"  class="col-md-6 content-column">
            <h1 ng-show="showing.content" class="ng-hide"><div class="step-bubble-spaceholder"></div>Continue without a patient</h1>
            <button ng-click="continueWithoutPatient()" class="btn btn-primary btn-block" style="width: 120px; margin-left: 175px;">Continue</button>
        </div>
    </div>

</div>
