<div id="unsupportedModal" class="modal-dialog modal-content hide fade" tabindex="-1" role="dialog" aria-labelledby="unsupportedBrowser"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="unsupportedBrowser">Browser Unsupported</h3>
    </div>
    <div class="modal-body">
        <p>It looks like your browser doesn't support the SMART FHIR Starter. You can try anyway, but we recommend</p>
        <ul>
            <li><a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a></li>
            <li><a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a></li>
            <li><a href="http://www.apple.com/safari/">Safari</a></li>
            <li><a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie">IE 10</a></li>
        </ul>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary">I understand!</button>
    </div>
</div>
