<div ng-controller="UserViewWrapper">
  <div ng-controller="UserViewController">
    <h3 ng-show="showing.signin" class="ng-hide centered">Please sign in above to get started</h3>
    <h3 ng-show="showing.loading && !showing.apps" class="ng-hide">Loading...</h3>
    <h1 ng-show="showing.apps" class="ng-hide pull-right"><div class="step-bubble"><span>2</span></div>App time <small>for {{user.name}}</small></h1>
    <br style="clear: both;" />
    <div ng-show="showing.apps" class="ng-hide row-fluid">
      <ul class="list-unstyled thumbnails">
        <li class="col-md-3" ng-repeat="app in all_user_apps|filter:{launch_uri:'!!'}">
        <div class="thumbnail">
          <div class="thumb-holder">
            <img ng-src="{{app.logo_uri}}" width="100%">
          </div>
          <div class="caption">
            <button ng-click="launch(app)" class="btn btn-primary btn-block">{{app.client_name}}</button>
          </div>
        </div>
        </li>
        <li class="col-md-3">
        <div class="thumbnail">
          <div class="thumb-holder">
            <input type="text" ng-model="customapp.id" placeholder="App ID" required /><br/>
            <input type="text" ng-model="customapp.url" placeholder="Launch URL" required />
          </div>
          <div class="caption">
            <button ng-click="launchCustom()" ng-disabled="!customapp.id || !customapp.url" class="btn btn-default btn-block">Custom App</button>
          </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
